// .main-outer{
//     width: 100vw;
//     height: 100vh;
//     padding: 60px 0 45px 0;
// }
// .context{
//     width: 100%;
//     height: 80vh;
//     background-color: cadetblue;
// }
// .footer-context{
//     width: 100%;
//     height: 35px;
//     border:1px solid red;
// }
// .header-outer{
//     width: 100%;
//     height: 50px;
//     border: 1px solid red;

// }
.container{
    width: 100vw;
    background-color: #16a085;
    height: 100vh;
}
.header-container{
    width: 100vw;
    height: 50px;
    background-color: #2c3e50;
    position:fixed;
    top: 0;
}
.container{
    width: 100%;
    height: 80vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 60px 0 45px 0;
}
.footer-container{
    width: 100vw;
    height: 40px;
   background-color: #2c3e50;
   position:fixed;
   bottom: 0
}