.footer-outer {
  width: 100%;
  height: 50px;
  background-color: #34495e;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 13px;
}

.footer-outer p {
  color: white;
  margin: 0;
}
